<!--fxLayout="row wrap" fxLayoutAlign="start center">-->


<div class="about_sec1">
  <div class="contentCenter">
    <div class="top_bg about-us" fxLayout="row wrap" fxLayoutAlign="start center">
      <h1 class="top_bg_h">About Us</h1>
    </div>

    <div class="about_sec1_box" fxLayout="row wrap" fxLayoutAlign="start start">
      <div class="blue_rec" fxFlex="100" fxFlex.gt-sm="59" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div  fxFlex.gt-xs="45" class="blue_rec_img size_img2 blue_rec_about1 custom_size"></div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <h3 class="blue_rec_h">Our Company</h3>
          <p class="m_t_mob_s">AMFEX Services LLP is a leading consultancy firm dedicated to assisting foreign companies in establishing a robust supply chain in India.</p>
        </div>
      </div>
    </div>

    <div class="about_sec1_box" fxLayout="row wrap" fxLayoutAlign="end start">
      <div class="blue_rec" fxFlex="100" fxFlex.gt-sm="59" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div  fxFlex.gt-xs="45" class="blue_rec_img size_img3 blue_rec_about2 custom_size"></div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <h3 class="blue_rec_h">Experience</h3>
          <p class="m_t_mob_s">With years of experience and in-depth knowledge of the Indian market, we have built a reputation for delivering reliable sourcing and procurement solutions.</p>
        </div>
      </div>
    </div>

    <div class="about_sec1_box" fxLayout="row wrap" fxLayoutAlign="start start">
      <div class="blue_rec" fxFlex="100" fxFlex.gt-sm="59" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div  fxFlex.gt-xs="45" class="blue_rec_img size_img4 blue_rec_about3 custom_size"></div>
        <div fxFlex="100" fxFlex.gt-xs="50">
          <h3 class="blue_rec_h">Team</h3>
          <p class="m_t_mob_s">Our team of industry experts provides strategic guidance and hands-on support throughout the sourcing and procurement journey, ensuring optimal outcomes for your business.</p>
          <a routerLink="/our-team.html" class="blue_rec_link m_t_mob_s">Learn More</a>
        </div>
      </div>
    </div>




  </div>
</div>



<div class="contact_sec">
  <div class="contentCenter">
    <h2 class="contact_sec_h">Contact Us</h2>
    <p class="contact_sec_txt m_t_mob">Real-time access to global economic information</p>
    <div class="m_width570 m_t_mob">
      <app-feedback-form class="white_form"></app-feedback-form>
    </div>
  </div>
</div>
