<section class="top_section5 top_bg5" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block">
      <div class="sec_block_indent m_width920">
        <h1 class="sec_block_indent_h color_black">Emirates Wealth - Your fund distribution Gateway</h1>
      </div>
      <div class="sec_block_sep m_width720"></div>
      <p class="sec_block_txt m_width690 color_black">
        Emirates Wealth is the distribution gateway for your funds in the UAE, GCC, MEASA regions and globally. With just a click away retail and qualified investors are waiting to locate your funds on the Emirates Mutual Fund Exchange (EMFEX) state-of-the-art fund platform. </p>
      <p class="sec_block_txt m_width690 color_black">
        With our value-added distribution services, we support, facilitate and standardize local and cross-border distribution of your funds. Thanks to our extensive and long-term experience with fund distribution, we will support you in navigating the necessary requirements of entering new markets. </p>
      <p class="sec_block_txt m_width690 color_black">
        Whether you promote your funds to retail or professional investors, Emirates Wealth offers customized distribution plans to raise capital and to increase your AuM. Prior to creating your personal fund distribution strategy we identify your target market and audience and make sure the strategy is in line with the local and/or international regulatory requirements. Our distribution channels combined with our experience and knowledge will help you to maximize your opportunities for success. </p>
    </div>
  </div>
</section>
<section class="distr_section1" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="sec_block_left" fxFlex="100" fxFlex.gt-sm="45">
          <h3>Tailored Fund Distribution Services</h3>
          <ul class="sec_block_list list_black">
            <li>New Market Entry</li>
            <li>Customized Distribution Strategies</li>
            <li>Multijurisdictional Distribution</li>
            <li>Reporting to Regulators</li>
            <li>Daily or Hourly NAV reporting</li>
            <li>Fund Information/Data Publishing</li>
            <li>Marketing Material Review</li>
            <li>Client Due Diligence</li>
            <li>Fund Platform Listing (EMFEX)</li>
          </ul>
        </div>
        <div class="sec_block_right" fxFlex="100" fxFlex.gt-sm="50">
          <h3>Multijurisdictional Fund Distribution</h3>
          <p class="sec_block_h_desc color_black m_t_mob">
            For each target market your funds will need to maintain the regulatory authorization for distribution, which is why we established a multi-license approach. Emirates Wealth maintains three licenses in different jurisdictions tailored to your specific requirements for a multijurisdictional fund distribution. We promote and distribute your funds throughout our local and international distribution channel based on the our regional licenses; </p>
          <ul class="sec_block_list list_black m_t_mob">
            <li>Fund Distribution UAE, GCC, MEASA Requires registration of Funds with the UAE regulator (SCA) prior to any distribution activity for these regions</li>
            <li>Fund Distribution EUROPE Fund distribution based on existing EU pass-porting of our financial services including fund distribution services to all EU member states (MiFID II compliant)</li>
            <li>Fund Distribution ASIA-PACIFIC Fund distribution services through our license in Australia under ASIC for the entire Asia-Pacific region</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="distr_section2" [style.height.px]="navService.clientHeight" style="position:relative;">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="sec_block_red" fxFlex="100">
        <h3 class="sec_block_red_txt">Distribution Channels &amp; Activities</h3>
        <div class="sec_block_red_rect red_right"></div>
      </div>
      <div class="sec_block_box_info" fxFlex="100">
        <p class="sec_block_h_desc color_white">
          With our various distribution channels we are able to address a wide range of private and institutional investors, starting from retail clients up to HNW individuals. Our key to success in raising capital for funds is a combination of our customized sales strategies we apply to target a specific group of investors combined with our proprietary fund trading and distribution platform, EMFEX that creates visibility and access of your funds to potential investors. </p>
      </div>
      <div class="sec_block_box_info" fxFlex="100">
        <div class="" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
          <div class="sec_block_left" fxFlex="100" fxFlex.gt-sm="45">
            <h4>Depending on the structure and strategy of your fund we target different market participants such as;</h4>
            <ul class="sec_block_list list_white">
              <li>Family Offices</li>
              <li>Asset Managers</li>
              <li>Banks</li>
              <li>HNW &amp; UHNW Individuals</li>
              <li>Retail and Qualified Investors</li>
              <li>Institutional Partners and Clients</li>
            </ul>
          </div>
          <div class="sec_block_right" fxFlex="100" fxFlex.gt-sm="50">
            <h4>Our activities are including but not limited to;</h4>
            <ul class="sec_block_list list_white m_t_mob">
              <li>Scanning and penetrating our existing client data bases</li>
              <li>Promotion of your fund to our book of clients by our Wealth Management Teams</li>
              <li>Lead Generation via our own Call Centers</li>
              <li>Online Lead Generation via EMFEX</li>
              <li>Email Campaigns &amp; periodical Newsletters</li>
              <li>Online &amp; Digital Marketing Campaigns</li>
              <li>Investor Events with Fund Managers</li>
              <li>Seminars &amp; Road Shows</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Emirates-Mutual-Fund-Exchange" style="position:absolute;bottom:0;left:0;height:40px;"></div>
</section>
<section class="distr_section3" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="end center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
        <div class="sec_block_red" fxFlex="100">
          <h3 class="sec_block_red_txt">Emirates Mutual Fund Exchange (EMFEX) - Your Fund Distribution Gateway</h3>
          <div class="sec_block_red_rect red_right"></div>
        </div>
        <div class="sec_block_box m_t_tab" fxFlex="100" fxFlex.gt-sm="50">
          <h5 class="sec_block_h low_header">EMFEX is revolutionizing the Mutual Funds industry, breaking distribution barriers, increasing efficiency and decreasing the cost of sales for funds and investors.</h5>
          <p class="sec_block_h_desc color_black m_t_mob">Emirates Wealth uses the latest Fintech and Block-Chain technology tools when it comes to the distribution of your funds in the UAE, GCC and MEASA regions. Our proprietary online and mobile trading and distribution platform, EMFEX delivers your funds to the fingertips of retail and institutional investors. With just a click away your qualified potential investors are waiting to locate your funds on EMFEX trading platform.</p>
          <p class="sec_block_h_desc color_black m_t_mob">Hosting your funds on EMFEX makes them instantly available to all market participants such as investors, banks, financial advisors, and brokers as well as our worldwide network of clients and partners. EMFEX further ensures that your marketing and legal documents such as KIIDs, prospectus, monthly fact sheets, fund profiles, etc. are published conforming to national and international legal requirements.</p>
          <p class="sec_block_h_desc color_black m_t_mob">The EMFEX trading and risk suite utilize a Block-Chain enabled Distributed Market Infrastructure (DMI) for all transactions, settling trades between customers and fund providers in the most effective way. Additionally, EMFEX uses a ledger distributed technology (LDT) for back-office processes and recording of the transaction for compliance and regulatory purposes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="distr_section4" [style.height.px]="navService.clientHeight*1.1">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box " fxFlex="100" fxFlex.gt-sm="50">
          <h3>EMFEX Distributed Ledger</h3>
          <ul class="sec_block_list list_white m_t_mob">
            <li>Permanent and accurate records of transactions</li>
            <li>Improves fund order management</li>
            <li>Streamlines payments and settlement speed</li>
            <li>Accelerates the transaction cycle</li>
            <li>Increases transparency</li>
            <li>Ensures asset safety and security</li>
            <li>Reduces transaction costs</li>
          </ul>
        </div>
        <div fxFlex="100"></div>
        <div class="sec_block_box m_t_tab" fxFlex="100" fxFlex.gt-sm="50">
          <h3>EMFEX Distributed Ledger</h3>
          <h5 class="m_t_mob">Listing your funds on EMFEX is extremely fast and easy.</h5>
          <p class="sec_block_h_desc color_white m_t_mob_s">Just register your funds with any of the regulated Emirates Mutual Funds Exchange companies and make your product visible to the hundreds thousands of our customers and investors.</p>
          <h5 class="m_t_mob">Emirates Mutual Funds Exchange UAE – who should register?</h5>
          <p class="sec_block_h_desc color_white m_t_mob_s">US, Latin American, Caribbean, EU, India, China, South East Asia Middle East, Russia and Africa domiciled funds.</p>
          <h5 class="m_t_mob">Emirates Mutual Funds Exchange Europe – who should register?</h5>
          <p class="sec_block_h_desc color_white m_t_mob_s">EU domiciled funds</p>
          <h5 class="m_t_mob">Emirates Mutual Funds Exchange Australia – who should register?</h5>
          <p class="sec_block_h_desc color_white m_t_mob_s">Australia, New Zealand, China, India domiciled funds</p>
        </div>
      </div>
    </div>
  </div>
</section>


