<section class="top_section2 top_bg2" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block">

      <div class="sec_block_indent m_width780">
        <h1 class="sec_block_indent_h color_black">Legal Representation</h1>
      </div>
      <div class="sec_block_sep m_width720"></div>
      <p class="sec_block_txt m_width720 color_black">
        Emirates Wealth is licensed and regulated by the Securities &amp; Commodities Authority (SCA), to act as a legal representative of foreign investment funds. As your legal representative we will liaise with the SCA on your behalf and constantly update your files such as the offering documents, prospectus, and investment policies as well as manage your annual renewals. Further, we represent your funds towards
        any kind investors.
      </p>
      <p class="sec_block_txt m_width720 color_black">
        We offer professional representation services for foreign fund houses and asset management companies (ACM) who wish to promote and distribute their funds in or from the UAE to the GCC and the wider MEANSA region.
      </p>
      <p class="sec_block_txt m_width720 color_black">
        We support you to achieve the regulatory approval required for the distribution of funds to retail or qualified investors in the region and further to expand your distribution network by providing knowledge about the regional fund industry. We help you to achieve a successful market entry and expansion of your fund distribution locally and globally.
      </p>

    </div>
  </div>
</section>

<!--  -->

<section class="legal_section1" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_indent m_width730" fxFlex="100">
          <h2 class="sec_block_h">Our Representation Services</h2>
        </div>
        <ul class="sec_block_list list_black" fxFlex="100" fxFlex.gt-sm="55">
          <li>Due diligence on your funds before registration</li>
          <li>Preparation and registration of funds with SCA</li>
          <li>Meeting regulatory requirements such as publishing/information responsibilities</li>
          <li>Amendments of legal documents such as prospectus, KIID, Articles of Association, Fund Contracts</li>
          <li>Periodical reporting to SCA</li>
          <li>Compliance review of marketing materials</li>
          <li>Informing fund on any regulatory or legal changes</li>
          <li>Assistance to find local/international paying agent</li>
        </ul>
        <div class="sec_block_red" fxFlex="100">
          <h3 class="sec_block_red_txt">Ongoing Representation Services</h3>
          <div class="sec_block_red_rect red_right"></div>
        </div>
        <ul class="sec_block_list list_black" fxFlex="100" fxFlex.gt-sm="55">
          <li>Contact and place of jurisdiction for public authorities and investors in the UAE</li>
          <li>Periodical reviewing of legal documents for compliance with the UAE laws and regulations</li>
          <li>Regular reviewing of marketing materials</li>
          <li>Storing of all relevant documents in case of investor requests</li>
          <li>Due diligence and regular verification of investors in compliance with the SCA regulations</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--  -->

<section class="legal_section2" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="sec_block_left" fxFlex="100" fxFlex.gt-sm="45">
          <h3>Additional Regulatory Duties</h3>
          <ul class="sec_block_list list_white" >
            <li>Acting as primary contact for all regulatory issues (SCA)</li>
            <li>Publication of daily NAV’s and dividends</li>
            <li>Publication of fund documents and information </li>
            <li>Reviewing of legal documents to be compliant with SCA regulations</li>
            <li>Due diligence including KYC/AML procedure of investors</li>
            <li>Verify the suitability of the fund to be promoted </li>
            <li>Determination of risk profile for both, funds and investors</li>
            <li>Keeping records of distributed fund&#39;s units</li>
          </ul>
        </div>
        <div class="sec_block_right" fxFlex="100" fxFlex.gt-sm="50">
          <h3>Regulatory Notifications (SCA)</h3>
          <h5 class="sec_block_right_h">As your legal representative, we are obliged to notify SCA about;</h5>
          <ul class="sec_block_list list_white">
            <li>Registration of new funds or sub-funds</li>
            <li>Change of legal form of investment fund</li>
            <li>Merger and liquidation of investment fund</li>
            <li>Deregistration of investment funds and/or sub-funds</li>
            <li>Notification of new or cancellation of share classes </li>
            <li>Delay in redemption of units/shares</li>
            <li>Change of legal representative or paying agent</li>
            <li>Any measures implemented by a foreign regulatory authority against the investment fund</li>
            <li>Valuation errors and their rectification</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  -->

<section class="legal_section3" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="sec_block_red" fxFlex="100">
        <h3 class="sec_block_red_txt">Why Emirates Wealth as your Legal Representative?</h3>
        <div class="sec_block_red_rect red_right"></div>
      </div>
      <div fxFlex="100">
        <div class="" fxLayout="row wrap" fxLayoutAlign="end center">
          <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
            <div class="sec_block_box_info">
              <h5 class="sec_block_h color_black">Global Funds delivered locally</h5>
              <p class="sec_block_h_desc color_black">Headquartered in Dubai and with our offices Berlin, Copenhagen, Macau, Sofia and Sydney we offer a multijurisdictional representation and distribution service to you.</p>
            </div>
            <div class="sec_block_box_info">
              <h5 class="sec_block_h color_black">Technology</h5>
              <p class="sec_block_h_desc color_black">We are using the latest fintech technology developed in-house for our fund services and with our platform EMFEX, we are revolutionizing the Mutual Funds industry, breaking the old distribution barriers, increasing efficiency and decreasing cost of sales for funds and customers.</p>
            </div>
            <div class="sec_block_box_info">
              <h5 class="sec_block_h color_black">Efficient</h5>
              <p class="sec_block_h_desc color_black">We cover all tasks related to the registration and representation of your funds in the UAE with our in-house staff. Due to our daily contact with the SCA, we are the first to learn of any changes in regulatory practices.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  -->

<section class="legal_section4" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">

      <div fxFlex="100">
        <div class="" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
            <div class="sec_block_box_info">
              <h5 class="sec_block_h color_black">Competitive Pricing</h5>
              <p class="sec_block_h_desc color_black">Our services are available as competitive packages and you only need one contact partner for the registration, representation and distribution of your funds.</p>
            </div>
            <div class="sec_block_box_info">
              <h5 class="sec_block_h color_black">No conflicting interests</h5>
              <p class="sec_block_h_desc color_black">We only distribute and promote 3 rd party products and operate independently of banks, fund houses or asset management companies. We represent funds from US, EU, Middle East, India as well as off-shore jurisdictions.</p>
            </div>
            <div class="sec_block_box_info">
              <h5 class="sec_block_h color_black">Comprehensive Support</h5>
              <p class="sec_block_h_desc color_black">With our distribution gateway for your funds and the EMFEX platform we provide you with a direct access to retail and professional investors in the UAE, GCC and MEASA region. With just a click away EMFEX delivers your funds to any potential qualified customer in a split of a second.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


