<!--fxLayout="row wrap" fxLayoutAlign="start center">-->


<div class="contact_sec1">
  <div class="contentCenter">
    <div class="top_bg contact-us" fxLayout="row wrap" fxLayoutAlign="start center">
      <h1 class="top_bg_h">Contact Us</h1>
    </div>


    <div class="contact_sec1_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="contact_sec1_box_col" fxFlex="100" fxFlex.gt-sm="48">
        <p>We would be delighted to assist you with your sourcing and procurement needs. Please feel free to reach out to us with any questions or to discuss your requirements.</p>
        <p class="m_t_mob">
          <span class="contact_sec1_box_col_t1">Email:</span>
          info@amfexservices.com
        </p>
        <p class="m_t_mob">
          <span class="contact_sec1_box_col_t1">Phone:</span>
          +91 09876 54321
        </p>
      </div>
      <div class="contact_sec1_box_col" fxFlex="100" fxFlex.gt-sm="48">
        <p>Alternatively, you can fill out the contact form below, and our dedicated team will get in touch with you promptly.</p>

        <app-feedback-form class="m_t_mob"></app-feedback-form>

      </div>
    </div>

  </div>
</div>


<div class="contact_sec2">
  <div class="contentCenter">
    <h2 class="contact_sec2_h">Thank you for considering AMFEX Services LLP as your sourcing and procurement consultancy partner. </h2>

      <h2 class="contact_sec2_h m_t_tab"> We look forward to building a successful business relationship with you.</h2>
  </div>
</div>

