<style>
  strong{font-weight: 500;}
  ul.list_decimal li{list-style: decimal;}
  /*  ul.list_disc li{list-style: disc;} */
  ul.list_circle li{list-style: circle;}
  ul.no_disc li{
    list-style:none;
  }
</style>
<div id="page_privacy">

  <div class="contentCenter">



    <div class="privacy_box bl_ident">
      <h3 class="privacy_box_content_h3 m_t_tab">ABOUT THIS POLICY</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        Your privacy is important to us. We are committed to maintaining the confidentiality, integrity, and security of personal information about you. We want you to feel comfortable with how we use and share your personal information. This policy will inform you as to how we look after your personal data when you visit our website (each a “Website” and together “Websites”) (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you. This policy aims to give you information on how we collect and process your personal data through your use of this website, including but not limited to emirateswealth.ae, together with their local variations and including any data you may provide through this website. Throughout the site, the terms [“the company”, “we”, “us”, “our”] refer to Emirates Wealth.
      </p>
      <p class="privacy_box_content_p">
        The data controller in respect of your personal information is:
      </p>
      <p class="privacy_box_content_p" style="font-style: italic;max-width:480px;width:100%;">
        EMIRATES WEALTH SECURITIES PROMOTIONS LLC
        Address: Fourth Floor, 8 Lloyd’s Avenue London EC3N 3EL
        1407 Opal Tower, Burj Khalifa Blvd, Business Bay, P.O. Box: 454925 Dubai, United Arab Emirates
      </p>
      <p class="privacy_box_content_p">
        This policy may change from time to time so please check our website occasionally to ensure that you accept and agree with any changes.
      </p>



      <h3 class="privacy_box_content_h3 m_t_tab">WE ARE COMMITTED TO:</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <div class="privacy_box_content_p">
        <ul class="privacy_box_content_list" style="">
          <li>being transparent about how we collect and uses that data and to meeting our data protection obligations;</li>
          <li>protecting the personal information, you provide to us;</li>
          <li>telling you how we use the information we gather about you; and</li>
          <li>ensuring that you know why we intend to disclose your personal information.</li>
        </ul>
      </div>


      <h3 class="privacy_box_content_h3 m_t_tab">THE DATA WE COLLECT ABOUT YOU</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">Personal data, or personal information, means any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymous data).</p>
      <p class="privacy_box_content_p">It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.</p>
      <p class="privacy_box_content_p">When you use this site we may collect, use, store and transfer different kinds of personal data about you which we have grouped together as follows:</p>
      <ul class="privacy_box_content_list">
        <li>
          <p class="privacy_box_content_p"><strong>Personal Identity Data includes</strong> first name, maiden name, last name, username or similar identifier, marital status, title, date of birth and gender.  The Personal Identity Data you submit to our Websites is used to service your account, to improve our services to you and/or to provide you with information on Emirates Wealth products and services. We will not sell, share or rent your Personal Identity Data information to others in contravention of this Privacy Policy.</p>
          <p class="privacy_box_content_p">Additionally, if the Website is a password protected site, then (a) once you submit your password and enter, the Website will recognize who you are and will collect all information that you submit, including all electronic instructions (including all transaction information), and (b) any information collected about you from the Website may be associated with other identifying information that we have about you.</p>
        </li>
        <li>
          <p class="privacy_box_content_p"><strong>Contact Data includes</strong> billing address, delivery address, email address and telephone numbers.</p>
        </li>
        <li>
          <p class="privacy_box_content_p"><strong>Financial Data includes</strong> bank account; source of funds, source of wealth; payment card details.</p>
        </li>
        <li>
          <p class="privacy_box_content_p"><strong>Transaction Data includes</strong> details about payments to and from you and other details of products and transactions you have placed via our services and/or products.</p>
        </li>
        <li>
          <p class="privacy_box_content_p"><strong>Profile Data includes</strong> your username and password, transactions or orders made by you, your interests, preferences, feedback and survey responses.</p>
        </li>
      </ul>

      <p class="privacy_box_content_p">We also collect, use and share aggregated data such as statistical or demographic data for any purpose. Aggregated data may be derived from your personal data but is not considered personal data in law as this data does not directly or indirectly reveal your identity.</p>
      <p class="privacy_box_content_p">Also we may record certain usage information, such as the number and frequency of visitors to our Websites. This information may include the websites that you access immediately before and after your visit to our Websites, the Internet browser you are using and your IP address. If we use such data at all it will be on an aggregate basis, and we will not disclose to third parties any information that could be used to identify you personally.</p>
      <p class="privacy_box_content_p">We do not collect any Special Categories of Personal Data about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union membership, information about your health and genetic and biometric data). Nor do we collect any information about criminal convictions and offences.</p>




      <h3 class="privacy_box_content_h3 m_t_tab">HOW WE COLLECT YOUR PERSONAL DATA </h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        We use the below methods to collect data from and about you:
      </p>
      <ul class="privacy_box_content_list list_decimal no_circle">
        <li>
          Direct interactions: You may give us your Identity, Contact and Financial Data by filling in forms or by corresponding with us by post, phone, email or otherwise. This includes personal data you provide when you apply for our products or services and/or to create an account with us;
        </li>
        <li>
          Third parties or publicly available sources: We may receive personal data about you from various third parties and public sources, as set out below:
          <ul class="privacy_box_content_list list_disc">
            <li class="yes_circle">Technical Data from the following parties:
              <ul type="circle" class="privacy_box_content_list list_circle no_circle">
                <li>analytics providers such as Google  Analytics to collect tracking information about you; for more information about Google Analytics, please refer to Google’s privacy policy.;</li>
                <li>advertising networks;</li>
                <li>search information providers;</li>
              </ul>
            </li>
            <li  class="yes_circle">Contact, Financial and Transaction Data from providers of technical, payment and delivery services;</li>
            <li  class="yes_circle">Identity and Contact Data from data brokers;</li>
            <li  class="yes_circle">Identity and Contact Data from publicly availably sources, such as company register or equivalent;</li>
            <li  class="yes_circle">Online identity verification tools;</li>
          </ul>
        </li>
      </ul>




      <h3 class="privacy_box_content_h3 m_t_tab">USE OF YOUR PERSONAL DATA</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        The purposes for which we use your information and the legal basis on which we rely to do this are as follows:
      </p>
      <ul class="privacy_box_content_list list_decimal no_circle" >
        <li  >
          It is necessary for the performance of the contract with you or to take steps to enter into it or have entered with you. This applies when we need to verify your identity. If you have an agreement with us, then we will also use your information for administering the agreement between us and to provide you with the service under that agreement.
        </li>
        <li>
          Where it is necessary for our legitimate interests (or those of a third party), this includes:
          <ul class="privacy_box_content_list list_disc yes_circle no_disc" >
            <li class="yes_circle">to enhance and personalise your customer or visitor experience;</li>
            <li class="yes_circle">to identify you when you contact us and to correspond and communicate with you;</li>
            <li class="yes_circle">for market research in order to continually improve the products and services that we and our authorised dealers offer and deliver to you;</li>
            <li class="yes_circle">to verify the accuracy of data that we hold about you and create a better understanding of you as a client or visitor;</li>
            <li class="yes_circle">contacting you to ask you to participate in customer satisfaction surveys and market research (by email, letter, SMS or phone) and to undertake and analyse those surveys and research, this is to allow us to benchmark our services and evaluate new and existing products and services;</li>
            <li class="yes_circle">creating a profile of you, which enables us to identify and personalise what products and services to offer to you for marketing purposes;</li>
            <li class="yes_circle">administer our site, for website analysis and for internal operations, including troubleshooting, testing, statistical purposes;</li>
            <li class="yes_circle">or network and information security in order for us to take steps to protect your information against loss or damage, theft or unauthorised access;</li>
            <li class="yes_circle">for the prevention of fraud and other criminal activities;</li>
            <li class="yes_circle">for efficiency, accuracy or other improvements of our databases and systems e.g. by combining systems or consolidating records we, our group companies or manufacturers hold about you;</li>
            <li class="yes_circle">to enforce or protect our contractual or other legal rights or to bring or defend legal proceedings;</li>
            <li class="yes_circle">for general administration including managing your queries, complaints, or claims, and to send service messages to you; and</li>
          </ul>
        </li>
        <li>Where we need to comply with a legal or regulatory obligation.</li>
      </ul>

      <h3 class="privacy_box_content_h3 m_t_tab">HOW WE PROTECT INFORMATION ABOUT YOU</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        We consider the protection of personal information to be a foundation of customer trust and a sound business practice. We employ physical, electronic and procedural controls and we regularly adapt these controls to respond to changing requirements and advances in technology.
      </p>
      <p class="privacy_box_content_p">
        At Emirates Wealth, we restrict access to personal information to those who require it to develop, support, offer and deliver products and services to you.
      </p>

      <h3 class="privacy_box_content_h3 m_t_tab">PROMOTIONAL OFFERS FROM US</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        We may use your Identity, Contact, Technical, Usage and Profile Data to form a view on what we think you may want or need, or what may be of interest to you. This is how we decide which products, services and offers may be relevant for you (we call this marketing). You may receive marketing communications from us if you have requested information from us or opened an account with us and you have not opted out of receiving such communication.
      </p>

      <h3 class="privacy_box_content_h3 m_t_tab">COOKIES</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        Emirates Wealth and our third-party service providers may use cookies and similar technologies to support the operation of Emirates Wealth websites.
      </p>
      <p class="privacy_box_content_p">
        Cookies are small amounts of data that a website exchanges with a web browser or application on a visitor's computer or mobile device. Cookies help us to collect information about visitors to Emirates Wealth websites, including date and time of visits, pages viewed, amount of time spent on our sites, or general information about the device used to access the site. Emirates Wealth cookies are also used for security purposes and to personalize your experience, such as customizing your screen layout.
      </p>
      <p class="privacy_box_content_p">
        You can refuse or delete cookies. Most browsers and mobile devices offer their own settings to manage cookies. If you refuse a cookie when on an Emirates Wealth website, or if you delete cookies, you may experience some inconvenience in your use of Emirates Wealth websites. For example, you may not be able to sign in and access your account, or we may not be able to recognize you, your device, or your online preferences.
      </p>
      <p class="privacy_box_content_p">
        Both Emirates Wealth and third-party service providers we hire may use cookies and other technologies, such as web beacons or pixel tags, in online advertising as described below.
      </p>

      <h3 class="privacy_box_content_h3 m_t_tab">SOCIAL MEDIA SITES</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        Emirates Wealth provides experiences on social media platforms that enable online sharing and collaboration among users who have registered to use them. We may collect information you provide by interacting with us via social media, such as photographs, opinions, or social media account ID.
      </p>
      <p class="privacy_box_content_p">
        Any content you post, such as pictures, information, opinions, or any personal information that you make available to other participants on these social platforms, is also subject to the terms of use and privacy policies of those platforms. For more information please refer to them to better understand your rights and obligations with regard to such content.
      </p>



      <h3 class="privacy_box_content_h3 m_t_tab">HOW LONG WE SAVE YOUR DATA</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        The length of time we retain your information is determined by a number of factors including. We do not keep your personal data for no longer than reasonably necessary
      </p>
      <p class="privacy_box_content_p">
        Where you are a customer, we hold your information for 7 years from the date at which your agreement is terminated or upon default or as long as necessary thereafter to deal with any queries you may have.
      </p>
      <p class="privacy_box_content_p">
        We may hold your information for a longer or shorter period from that described above where:
      </p>
      <ul class="privacy_box_content_list m_t_mob_s">
        <li>the law requires us to hold your personal information for a longer period, or delete it sooner;</li>
        <li>you exercise your right to have the information erased (where it applies) and we do not need to hold it in connection with any of the reasons permitted or required under the law; and</li>
        <li>in limited cases, the law permits us to keep your personal information indefinitely provided we put certain protections in place.</li>
      </ul>

      <h3 class="privacy_box_content_h3 m_t_tab">DISCLOSURES OF YOUR PERSONAL DATA</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        We require all third parties to respect the security of your personal data and to treat it in accordance with the law. We do not allow our third-party service providers to use your personal data for their own purposes and only permit them to process your personal data for specified purposes and in accordance with our instructions.
      </p>
      <p class="privacy_box_content_p">
        We may share your personal data with the parties set out below:
      </p>
      <ul class="privacy_box_content_list m_t_mob_s">
        <li>Unaffiliated service providers</li>
        <li>Government agencies, other regulatory bodies and law enforcement officials (for example, for tax purposes or for reporting suspicious transactions)</li>
      </ul>

      <h3 class="privacy_box_content_h3 m_t_tab">CONTACT US</h3>
      <div class="grey_sep m_t_mob_s"></div>
      <p class="privacy_box_content_p">
        In the event you should have any questions about this Privacy Policy, or our privacy related practices, please contact us by email at <a href="mailto:info@emirateswealth.ae" target="_blank" rel="nofollow noopener noreferrer" class="anchor_box_list_link_s">info@emirateswealth.ae</a>.
      </p>

      <p class="privacy_box_content_p" style="font-style: italic;padding-left:16px;">
        You can also contact us by mail at:<br>
        1407 Opal Tower<br>
        Burj Khalifa Blvd, Business Bay<br>
        P.O. Box 454925 Dubai - UAE<br>
      </p>

    </div>
  </div>
</div>
