<section class="top_section4 top_bg4" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block">

      <div class="sec_block_indent m_width920">
        <h1 class="sec_block_indent_h color_black">Emirates Wealth – Your Gateway to the Emerging Markets</h1>
      </div>
      <div class="sec_block_sep m_width720"></div>
      <p class="sec_block_txt m_width690 color_black">
        Emirates Wealth is licensed and regulated by the Securities &amp; Commodities Authority (SCA), under the license number 603041 to act as a promoter and distributor of funds in the UAE.
      </p>
    </div>
  </div>
</section>

<!--1 -->

<section class="promo_section1" [style.height.px]="navService.clientHeight*1.1" style="position:relative;">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="80">
          <h2 class="sec_block_h">Promote your Funds to a wide Audience of Investors</h2>
        </div>
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info no_margin">

            <p class="sec_block_h_desc color_black">We offer your funds to the public and private investors throughout the UAE, GCC and MENA regions. Becoming part of the Emirates Wealth promotion and distribution network guarantees your fund visibility to the regional client base and beyond.</p>
            <p class="sec_block_h_desc color_black m_t_mob_s">Emirates Wealth is your gateway to the world’s emerging markets. Give your fund the required exposure and promote your products to a wide audience locally, regionally and globally. We provide you with an unparalleled opportunity to access a region of over 3 billion people with a collective GDP of more than USD 6.5 trillion. With two-thirds of the world’s population a few hours away from the UAE, we bring your fund closer to the fastest growing emerging markets of the Middle East, Africa, India and Asia.</p>
          </div>
        </div>
        <div class="sec_block_box m_t_tab" fxFlex="100" fxFlex.gt-sm="80">
          <h2 class="sec_block_h ">Increase your Funds Global Exposure</h2>
        </div>
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info m_t_tab">

            <p class="sec_block_h_desc color_black">With our promotion services, your fund will get a premium exposure to retail and institutional clients in the region. We make your funds instantly available to all market participants such as private and public investors, portfolio managers, financial advisors, banks and asset managers.</p>
            <p class="sec_block_h_desc color_black m_t_mob_s">Thanks to our extensive and long-term experience of fund promotion and distribution, we support you in navigating the necessary requirements of entering new markets around the globe. We assist you to increasing your funds market share in different regions. With Emirates Wealth as your fund promoter, you will have more time to focus on performance and creating alpha for your clients. Let us take care about the sales process and capital raising for your funds. We support, facilitate and standardize your local and cross-border fund promotion and distribution with one single target; to increase AuM of your funds!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Publication-Services" style="position:absolute;bottom:0;left:0;height:50px;"></div>
</section>


<section class="promo_section2" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info">
            <h2 class="sec_block_h">Fund Publication</h2>
            <p class="sec_block_h_desc color_black ">With our fund publication services you will achieve the highest visibility towards your target audience, and fulfill your legal requirements at the same time. Listing your funds on our industry-recognized, international online platform EMFEX will lower your publication costs and make your funds data and documents instantly available to any market participants. We will ensures that your marketing and legal documents such as UCITs KIIDs, PRIIP KIDs, prospectus,
              monthly fact sheets, fund profiles, etc. are published conforming to local and international legal requirements.</p>
            <p class="sec_block_h_desc color_black m_t_mob_s">With EMFEX you can simply fulfill your legal publication duties worldwide and publish in real time daily NAV updates, dividend payments, legal notices or any other legal changes of your funds. Investors or users may subscribe to an unlimited number of funds and are automatically notified via email of any changes to the documents to which they have subscribed. Our services also include fund ratings and information of leading rating agencies such as Lipper by Refinitive.</p>
          </div>
          <div class="sec_block_box_info">
            <h2 class="sec_block_h">Fund Research</h2>
            <p class="sec_block_h_desc color_black">Thanks to our global partner network with the rating agencies, fund administrators and asset managers as well as and other service providers, investors can benefit from many years of a cumulative experience in fund analysis and research, helping them to make an educated decision when searching and investing in mutual funds.</p>
            <p class="sec_block_h_desc color_black m_t_mob_s">Our fund analysis department allows us to create fund recommendations for any customer and market segment. We continuously monitor the quality of our fund recommendations in collaboration with the fund managers as well as in comparison with the competitive benchmark analysis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="promo_section3" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info">
            <h2 class="sec_block_h">Fund Research</h2>
            <p class="sec_block_h_desc color_white">Emirates Wealth is continuously working on innovative solutions to bring fund providers and investors closer together. Our marketing solutions are customized to the individual need of fund providers that want to reach a particular target audience and get investors’ attention.</p>
            <p class="sec_block_h_desc color_white m_t_mob_s">Especially our EMFEX online marketing campaigns enable you to get directly in contact with investors and to cultivate your business relationships. You can highlight your core competences and through your presence on EMFEX, you will strengthen your brand and increase demand for your investment products.</p>
          </div>
        </div>
        <div class="sec_block_red m_t_tab" fxFlex="100">
          <h3 class="sec_block_red_txt">Key Marketing Features</h3>
          <div class="sec_block_red_rect red_right"></div>
        </div>
        <div class="sec_block_box m_t_tab" fxFlex="100" fxFlex.gt-sm="50">

          <ul class="sec_block_list list_white" >
            <li>Fund listing and promotion</li>
            <li>Fund picks and recommendations</li>
            <li>Digital and online marketing campaigns </li>
            <li>Email-marketing campaigns</li>
            <li>Lead generation via Call Centers and Online</li>
            <li>Newsletters </li>
            <li>Investors Events and Seminars</li>
            <li>Roads-shows</li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</section>


<section class="promo_section4" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info">
            <h2 class="sec_block_h ">Legal Background</h2>
          </div>
        </div>
        <div class="sec_block_red m_t_tab" fxFlex="100">
          <h3 class="sec_block_red_txt">Foreign Funds may only be promoted in the UAE by a local promoter that is either;</h3>
          <div class="sec_block_red_rect red_right"></div>
        </div>
        <div class="sec_block_box m_t_tab" fxFlex="100" fxFlex.gt-sm="50">
          <ul class="sec_block_list list_black" >
            <li>an entity licensed as a Local Promoter by the SCA</li>
            <li>a bank licensed by the UAE Central Bank</li>
            <li>an investment company licensed by the UAE Central Bank or SCA</li>
          </ul>
        </div>
        <div fxFlex="100"></div>
        <div class="sec_block_box m_t_tab" fxFlex="100" fxFlex.gt-sm="50" >
        <h5>As your local promoter, Emirates Wealth will overtake the following duties;</h5>
        <ul class="sec_block_list list_black" >
          <li>The promotion of your funds to retail and/or qualified investors</li>
          <li>Due diligence of your fund prior to promotion</li>
          <li>Following up on performance of your fund to ensure the protection of investor’s assets </li>

          <li>Ensure the continuity of your fund and the soundness of its legal status at domicile</li>
          <li>Verify the suitability of the fund to be promoted</li>
          <li>Determination of risk profile for both, fund and investors </li>

          <li>Suitability check for both, fund and investors</li>
          <li>Keeping records of distributed fund’s units</li>
          <li>Distribution of fund documents and information</li>

          <li>Distribution of daily rates, NAV and changes</li>
          <li>Clients’ KYC/AML check</li>

        </ul>
      </div>
    </div>
  </div>
</div>
</section>





