<div class="team_sec1">
  <div class="contentCenter">
    <div class="top_bg team" fxLayout="row wrap" fxLayoutAlign="start center">
      <h1 class="top_bg_h">Our Team</h1>
    </div>


    <div class="blue_rec">
      <div class="blue_rec_img size_img1 blue_rec_team"></div>
      <p class="m_t_mob">At AMFEX Services LLP, we are proud to have a highly skilled team of professionals who bring extensive knowledge and experience in sourcing, procurement, and supply chain management.</p>
      <p class="m_t_mob">Our consultants understand the complexities of global sourcing and work closely with our clients to develop tailored strategies that align with their business objectives.</p>
      <p class="m_t_mob">Leveraging our strong relationships with trusted suppliers and manufacturers, we help you navigate the complexities of the Indian market and ensure a successful sourcing process.</p>
    </div>


  </div>
</div>



<div class="contact_sec">
  <div class="contentCenter">
    <h2 class="contact_sec_h">Contact Us</h2>
    <p class="contact_sec_txt m_t_mob">Real-time access to global economic information</p>
    <div class="m_width570 m_t_mob">
      <app-feedback-form class="white_form"></app-feedback-form>
    </div>
  </div>
</div>
