<section class="top_section1 top_bg1" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block" >

      <div class="sec_block_indent m_width640">
        <h1 class="sec_block_indent_h color_black">Emirates Wealth</h1>
        <h3 class="color_black">Mutual Funds Registration, Promotion and Distribution Center</h3>
      </div>
      <div class="sec_block_sep m_width640"></div>
      <p class=" m_width640 color_black">
        Emirates Wealth is your gateway to retail and qualified investors in the UAE, GCC, MEASA regions and to the global markets. We are a fund services company, authorized and regulated to represent, register and distribute local and foreign funds worldwide. We provide fund representation, fund promotion and fund distribution services for UCITS Funds, Alternative Investment Funds (AIF), Qualified Investor Funds (QIF), Property Funds, Real Estate Investment Trusts (REITs), Private Equity Funds and Hedge Funds.
      </p>

    </div>
  </div>
</section>


<section class="index_section5" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">

      <div fxFlex="100">

        <h2 class="index_section5_h">Our Services </h2>

        <div class="box_col " fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="box_col_item" fxFlex.xs="100" fxFlex.sm="45" fxFlex.gt-sm="30">
            <div class="box_col_item_bg col_bg1">
              <div class="bg_white"></div>
              <p class="box_col_item_bg_txt">Fund Registration</p>
            </div>
            <div class="box_col_item_bottom">
              <p class="box_col_item_bottom_desc">
                We register your funds with the Securities &amp; Commodities Authority (SCA) of the UAE and handle the annually required maintenance of your registration.
              </p>
              <span class="box_col_item_bottom_link">MORE</span>
            </div>
            <a routerLink="/registration.html" class="box_col_item_href" title="Fund Registration"></a>
          </div>
          <!--  -->
          <div class="box_col_item" fxFlex.xs="100" fxFlex.sm="45" fxFlex.gt-sm="30">
            <div class="box_col_item_bg col_bg2">
              <div class="bg_white"></div>
              <p class="box_col_item_bg_txt">Fund Distribution</p>
            </div>
            <div class="box_col_item_bottom">
              <p class="box_col_item_bottom_desc">
                We are your distribution gateway to the UAE, GCC, MEASA markets. We distribute your funds through various channels to investors around the world.
              </p>
              <span class="box_col_item_bottom_link">MORE</span>
            </div>
            <a routerLink="/distribution.html" class="box_col_item_href" title="Fund Distribution"></a>
          </div>
          <!--  -->
          <div class="box_col_item" fxFlex.xs="100" fxFlex.sm="45" fxFlex.gt-sm="30">
            <div class="box_col_item_bg col_bg3">
              <div class="bg_white"></div>
              <p class="box_col_item_bg_txt">Fund Promotion</p>
            </div>
            <div class="box_col_item_bottom">
              <p class="box_col_item_bottom_desc">We provide you access to a vast range of retail and qualified investors and increase your funds market exposure locally, regionally and globally.</p>
              <span class="box_col_item_bottom_link">MORE</span>
            </div>
            <a routerLink="/fund-promotion.html" class="box_col_item_href" title="Fund Promotion"></a>
          </div>
          <!--  -->
          <div class="box_col_item" fxFlex.xs="100" fxFlex.sm="45" fxFlex.gt-sm="30">
            <div class="box_col_item_bg col_bg4">
              <div class="bg_white"></div>
              <p class="box_col_item_bg_txt">Legal Representation </p>
            </div>
            <div class="box_col_item_bottom">
              <p class="box_col_item_bottom_desc">We offer annual legal representation services to fund providers who wish to register and maintain their fund registration under the SCA.</p>
              <span class="box_col_item_bottom_link">MORE</span>
            </div>
            <a routerLink="/legal-representation.html" class="box_col_item_href" title="Legal Representation"></a>
          </div>
          <!--  -->
          <div class="box_col_item" fxFlex.xs="100" fxFlex.sm="45" fxFlex.gt-sm="30">
            <div class="box_col_item_bg col_bg5">
              <div class="bg_white"></div>
              <p class="box_col_item_bg_txt">Publication Services</p>
            </div>
            <div class="box_col_item_bottom">
              <p class="box_col_item_bottom_desc">We fulfill your legal publication requirements of funds data and information, so you can achieve the highest visibility towards your target audience. </p>
              <span class="box_col_item_bottom_link">MORE</span>
            </div>
            <a routerLink="/fund-promotion.html" fragment="Publication-Services" class="box_col_item_href" title="Publication Services"></a>
          </div>
          <!--  -->
          <div class="box_col_item" fxFlex.xs="100" fxFlex.sm="45" fxFlex.gt-sm="30">
            <div class="box_col_item_bg col_bg6">
              <div class="bg_white"></div>
              <p class="box_col_item_bg_txt">Emirates Mutual Fund Exchange</p>
            </div>
            <div class="box_col_item_bottom">
              <p class="box_col_item_bottom_desc">
                We use the latest BlockChain technology to distribute your funds and breaking distribution barriers by increasing efficiency and lowering cost.
              </p>
              <span class="box_col_item_bottom_link">MORE</span>
            </div>
            <a routerLink="/distribution.html" fragment="Emirates-Mutual-Fund-Exchange" class="box_col_item_href" title="Emirates Mutual Fund Exchange"></a>
          </div>
        </div>


      </div>
    </div>


  </div>
</section>

<!-- -->

<section  class="index_section3" [style.height.px]="navService.clientHeight">
  <div class="contentCenter" >
    <div class="sec_block" fxLayout="row wrap" fxLayoutAlign.gt-sm="end center" fxLayoutAlign="start start">



      <div fxFlex="100" fxFlex.gt-sm="50">
        <div class="sec_block_indent" >
          <h2 class=" ">Our Region & Market </h2>
        </div>
        <div class="sec_block_sep"></div>

        <h4 class="sec_block_h color_white">Emirates Wealth - Your Gateway to the World’s Emerging Markets </h4>

        <ul class="sec_block_list list_orange">
          <li>UAE is the second largest economy in the Arab world GDP of $400 billion</li>
          <li>GCC combined GDP is $2.2 trillion</li>
          <li>Gulf Cooperation Council (GCC) Countries GDP per capita is $55,300</li>
          <li>Access to a region of 3.2 billion people with a collective GDP above USD 6.5 trillion</li>
          <li>Two-thirds of the world’s population only a few hours away from UAE</li>
          <li>Access to over 300 cities in 100 countries</li>
          <li>International business hub to Middle East, China, India and Africa</li>
        </ul>

        <h4 class="sec_block_h color_white">Regional Outlook</h4>

        <p class="sec_block_h_desc color_white">The GDP growth in the region was projected to strengthen to 3.0 percent in 2018, and will be rise slightly higher in 2019 and 2020. In the GCC, growth will be further supported by higher fixed investments, bolstered by public investment programs and improved demand. Growth will remain stable during 2019 and 2020, propelled by steady growth in private consumption, infrastructure and investment programs like the Dubai Expo 2020 or Qatar’s World Cup 2022 as well as the expiration of OPEC+ agreement.</p>

      </div>
    </div>
  </div>
</section>
