<!--fxLayout="row wrap" fxLayoutAlign="start center">-->


<div class="index_sec1">
  <div class="contentCenter">
    <div class="top_bg home" fxLayout="row wrap" fxLayoutAlign="start center">
      <h1 class="top_bg_h">AMFEX Services LLP</h1>
    </div>

    <div class="index_sec1_desc">
      <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="none"><h2 class="index_sec1_desc_h">WELCOME</h2></div>
        <div fxFlex="100" fxFlex.gt-sm="77">
          <p class="index_sec1_desc_txt">to AMFEX Services LLP, your trusted consultancy firm specializing in sourcing and procurement solutions for raw materials in India.</p>
          <p class="index_sec1_desc_txt m_t_mob">We cater to foreign companies seeking reliable sourcing options to meet their raw material requirements.</p>
          <p class="index_sec1_desc_txt m_t_mob">With our expertise and extensive network, we provide strategic consulting services to optimize your sourcing and procurement processes, allowing you to enhance your business operations.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="index_sec2">
  <div class="contentCenter">
    <h2>Industries Served</h2>
    <p class="m_t_mob m_width570">We provide consultancy services to a diverse range of industries, including:</p>
    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="100" fxFlex.gt-sm="48">
        <ul class="list_info m_t_mob">
          <li>Automotive/Transportation</li>
          <li>Energy/Utilities</li>
          <li>Construction/Building Materials</li>
          <li>Electrical and Electronics</li>
          <li>Defense and Aerospace</li>
          <li>Consumer Durable Goods</li>
          <li>Consumer Product Manufacturing</li>
          <li>Healthcare</li>
          <li>Heating, Ventilation, Air Conditioning, and Refrigeration (HVACR)</li>
        </ul>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="48">
        <ul class="list_info m_t_mob">
          <li>Telecom</li>
          <li>Heavy Machinery and Equipment</li>
          <li>Retail</li>
          <li>Textile and Apparel</li>
          <li>Handicraft and Artisanal Products</li>
          <li>Fluid Control Systems</li>
          <li>Fittings, Furnishings, and Plumbing</li>
          <li>Pump, Valve, and Seals</li>
          <li>Other Diversified Industries</li>
        </ul>
      </div>
    </div>
    <a href="" class="btn btn_blue btn_mob m_t_mid">Contact US</a>

  </div>
</div>


<div class="index_sec3">
  <div class="contentCenter">
    <h2>Services Offered</h2>
    <div class="index_sec3_box" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="index_sec3_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <h3>Sourcing and Procurement Strategy</h3>
        <p class="m_t_mob_s">Developing customized sourcing and procurement strategies aligned with your business objectives.</p>
      </div>
      <div class="index_sec3_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <h3>Supplier Identification and Verification</h3>
        <p class="m_t_mob_s">Identifying and verifying reliable suppliers in India that meet your specific requirements for quality, quantity, and delivery timelines.</p>
      </div>
      <div class="index_sec3_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <h3>Price Negotiation and Contract Management</h3>
        <p class="m_t_mob_s">Negotiating favorable prices and contractual terms with suppliers, optimizing your procurement costs.</p>
      </div>
      <div class="index_sec3_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <h3>Quality Control and Assurance</h3>
        <p class="m_t_mob_s">Conducting rigorous quality checks at every stage of the sourcing and procurement process to ensure that the raw materials meet your specifications and adhere to international standards.</p>
      </div>
      <div class="index_sec3_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <h3>Logistics and Supply Chain Management</h3>
        <p class="m_t_mob_s">Managing all logistics and supply chain activities, ensuring efficient transportation of goods from India to your destination.</p>
      </div>
      <div class="index_sec3_box_col" fxFlex="100" fxFlex.gt-sm="49">
        <h3>Supplier Audits, Improvement & Inspection</h3>
        <p class="m_t_mob_s">Conducting comprehensive supplier audits to assess capabilities, production processes, and quality management systems. Implementing improvement measures and performing regular inspections to ensure high standards of quality and compliance.</p>
      </div>
    </div>
  </div>
</div>


<div class="contact_sec">
  <div class="contentCenter">
    <h2 class="contact_sec_h">Contact Us</h2>
    <p class="contact_sec_txt m_t_mob">Real-time access to global economic information</p>
    <div class="m_width570 m_t_mob">
      <app-feedback-form class="white_form"></app-feedback-form>
    </div>
  </div>
</div>
