// @import 'my-theme';
//@import '~@angular/material/theming';
@use '@angular/material' as mat;
@include mat.core();

@import 'themes/dark-theme';
@import 'themes/light-theme';

/// ---------------------------https://material.angular.io/guide/theming#multiple-themes-in-one-file
//// Apply the dark theme by default
//@include mat.core-theme($dark-theme);
//@include mat.button-theme($dark-theme);
//
//// Apply the light theme only when the user prefers light themes.
//@media (prefers-color-scheme: light) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.core-color($light-theme);
//  @include mat.button-color($light-theme);
//}

//// import custom component themes here
@import 'themes/styles-reset.scss-theme';
@mixin custom-components-theme($theme) {
  @include mat-tree-theme($theme);
  @include angular-material-theme($theme);
  @include my-styles-reset-theme($theme);
}

.mat-form-field-required-marker{
  display:none;
}

.mat-form-field-infix {
  border-top: 0.444em solid transparent;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.6em 0 1em 0;
}

[mat-align-tabs="space-between"] > .mat-tab-header .mat-tab-labels {
  justify-content: space-between;
}


app-feedback-form {
  display: block;
}



/* ===== */

@import 'normalize';
@import 'font';
@import 'mixin';
@import 'variables';
@import 'forms';
@import 'animate';






html body.my-light-theme {
 // @include mat.core-theme($my-light-theme);
  // @include custom-components-theme($my-light-theme);


  /*.mat-drawer-inner-container{
    background-color: #1c1a1b;
  }*/
  .mat-drawer{
    color: white;
  }


  .mat-form-field-type-mat-native-select .mat-form-field-infix::after{
    color:#ffffff;
  }


  .mat-nav-list .mat-list-item:hover{
    background: none;
  }

  .mat-ripple::after,.mat-ripple::before{
    background: none;
  }

  .mat-mdc-list-item .arrow{
    margin: 0;
  }
  .mat-mdc-list-item.active-link{
    background:none;
  }



  /*====================================*/
  /*====================================*/
  /*====================================*/
  .mat-form-field-appearance-outline .mat-form-field-outline{
    top:0;
  }

  .mat-mdc-form-field-appearance-outline .mat-form-field-outline,
  mat-form-field .mat-input-element,
  .mat-mdc-form-field-label,
  .mat-mdc-form-field.mat-mdc-focused .mat-mdc-form-field-label {
    color: rgba(255, 255, 255, 0.87);
  }

  .mat-mdc-form-field-appearance-outline.mat-mdc-focused .mat-mdc-form-field-outline-thick {
    color: rgba(255, 255, 255, 0.3);
  }


  .mat-mdc-input-element,
  .mat-mdc-form-field-label {
    font-size: 90%;
    caret-color: rgba(255, 255, 255, 0.87);
    font-family: 'Inter', 'Arial';
  }
  .mat-mdc-form-field-label{
    opacity: 0.8;
  }
/*  .form_btn_new{
    .btn{
      @extend .btn_blue_v1;
    }
  }*/


  .white_form {
    .mat-form-field-appearance-outline .mdc-notched-outline__leading,
    .mat-form-field-appearance-outline .mdc-notched-outline__trailing,
    .mat-form-field-appearance-outline .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch
    {
      border-color: #FFFFFF;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
      color:white;
    }
    .btn_blue{
      background: white;
      color:#1156f9;
      border-color: white;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
      color: #f4f4f4;
    }
  }
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    font-family: 'Poppins','Arial';
    font-size: 20px;
    opacity: 0.7;
  }








  .black_form .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline,
  mat-form-field .black_form .mat-mdc-input-element,
  .black_form .mat-mdc-form-field-label,
  .black_form .mat-mdc-form-field.mat-focused .mat-form-field-label {
    color: #000000;
  }

  .black_form .mat-mdc-form-field-appearance-outline.mat-mdc-focused .mat-mdc-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.3);
  }

  .black_form .mat-mdc-input-element,
  .black_form .mat-mdc-form-field-label {
    font-size: 90%;
    caret-color: rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.85);
  }

  $radius_input: 16px;

  .mat-form-field-appearance-outline .mdc-notched-outline__leading {
    border-radius: $radius_input 0 0 $radius_input;

  }

  .mat-form-field-appearance-outline .mdc-notched-outline__trailing {
    border-radius: 0 $radius_input $radius_input 0;

  }
  .mat-form-field-appearance-outline .mdc-notched-outline__notch,
  .mat-form-field-appearance-outline .mdc-notched-outline__trailing,
  .mat-form-field-appearance-outline .mdc-notched-outline__leading{
    border-width: 2px;
  }

/*
  .mat-drawer-container {
    background-color: white;
  }*/



  .header .mat-button{
    color:#ffffff;
    @include respond_to(mid_pc) {
      padding:0 10px;
    }
  }




  mat-toolbar .mob_menu_btn_ico{
    color:#000000;
  }



  .mat-mdc-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background: white;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-mdc-dialog-container .mdc-dialog__surface{
    box-shadow: none;
  }

}
body .list_mob_menu_close{
  color:black;

}

.mdc-list-item:not(.mdc-list-item--selected):focus::before{
  background: none;
}

/*.mat-mdc-button .mdc-button__label{
  @include respond_to(mid_pc) {
    font-size: 85%;
  }
  @include respond_to(tab) {
    font-size: 100%;
  }

}*/

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before{
display: none;
}
.mdc-list-item__primary-text {

  padding-left: 20px;
}
.footer .mdc-list-item__primary-text {

  padding-left: 0;
}
.mdc-list-item__primary-text:hover{
  color: white;
  opacity: 0.7;
}

.app-home{
  display: block;
}
.mdc-button /*.mdc-menu-item*/ {
  font-size: 20px;
  text-align: left;
  min-width:0;
  line-height:16px;
  border-radius:0;
  min-height: auto;
  transition: all 0.3s ease;
  margin:0 10px;
  padding:10px;
  overflow:visible;
  /* margin:0 auto; */
  font-weight:500;
  /* text-shadow:1px 1px 1px black; */
  text-transform:uppercase;
  color:black;
  font-family:'Poppins', sans-serif;
  @include respond_to(mid_pc){ margin:0 15px;font-size:12px;}
  @include respond_to(tab){ margin:7px 0;font-size:15px;color:white;}
}
.mdc-button.active-link{
  border-radius: 16px;
  background-color: rgba(17, 86, 249, 0.1);
}
a.mdc-button.mat-mdc-button.mat-mdc-button-base{
  padding: 12px 16px;
  height: auto;
}

.mat-mdc-button:hover .mat-mdc-button-persistent-ripple::before,
.mat-mdc-button:active .mat-mdc-button-persistent-ripple::before{
  opacity: 0;
}
/*.mdc-button__label::before{
  position: absolute;
  width: 0;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -3px;
  right: auto;
  top: auto;
  content: no-close-quote;
  transition: all 0.3s ease;
}*/
.mat-mdc-button:hover .mdc-button__label::before,.mat-mdc-button.active-link .mdc-button__label::before{
  width: 50%;
}
.mat-ripple{ /*delete hover menu !!! ???*/
  display: none;
}
.footer {
  .mdc-list-item {
    padding: 0;
  }
  .mdc-list-item:hover::before{
    background: none;
  }
  .mdc-list-item__primary-text{
    font-family: 'Inter','Arial';
    font-weight: 500;
    font-size: 16px;
  }

}


/*

*/



/*dialog*/



//////////////////////////////////////////////

.contentCenter,.contentCenter_min,.contentCenter_big {
  margin: 0 auto;
  width: 96%;
  position: relative;
  max-width: $max_width;
  @include respond_to(tab) {

  }
}
.contentCenter_min {
  max-width: $max_width_min;
}
.contentCenter_big {
  max-width: $max_width_big;
}


.btn{
  cursor:pointer;
  font-size: 100%;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding:12px 24px;
  display:inline-block;
  text-decoration:none;
  transition: all 0.3s ease;
  text-transform:uppercase;
  margin:0;
  border-radius: 6px;
}

html body .btn:hover{
  opacity: 0.75;
}


.btn_blue{
  @include button_bg(mat.get-color-from-palette($palette-accent, 50), mat.get-color-from-palette($palette-accent, 400), mat.get-color-from-palette($palette-accent, 400));
}


.m_width570{
  max-width:570px;
  width:100%;
}
.m_width770{
  max-width:770px;
  width:100%;
}







body .btn_mob {
  @include respond_to(mob) {
    width: 99%;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

body .m_t_pc {
  margin-top: $indent_pc;
}

body .m_t_pc_r {
  margin-top: $indent_pc;
  @include respond_to(tab) {
    margin-top: $indent_tab;
  }
}
body .m_t_tab_r {
  margin-top: $indent_tab;
  @include respond_to(mob) {
    margin-top: $indent_mob;
  }
}

body .m_t_tab {
  margin-top: $indent_tab;
}

body .m_t_mid {
  margin-top: $indent_mid;
}

body .m_t_mob {
  margin-top: $indent_mob;
}

body .m_t_mob_s {
  margin-top: $indent_mob_small;
}





html body .mat-toolbar.header{
  position: absolute;
  left: 0;
  top: 0;
  /*padding:20px 0;*/
  margin-top:55px;
  z-index:20;
  transition: all .3s ease;
  @include respond_to(tab) {
    /*margin-top:$indent_mob;*/
    background-color: rgba(222, 165, 98,.75);
    margin-top: 20px;
  }
}
/* html body.scrolledDown .mat-toolbar.header,html body.unique_h .mat-toolbar.header{
  background-color: rgba(222, 165, 98,.75);
}*/

.logo_header{
  @include box_ico('/assets/logo.svg', 240px, 76px);
  display: block;

  &:hover {
    opacity: 0.75;
  }
  @include respond_to(tab) {
    width: 180px;
    height: 57px;
  }
}


/*top bg*/

.top_bg{
  height: 367px;
  border-radius: 40px;
  margin-top: $indent_big;
  @include respond_to(tab) {
    margin-top: $indent_pc;
    border-radius: 0;
  }

  html body &_h{
    color:white;
    margin-left:$indent_tab;
    @include respond_to(tab) {
      margin-left:3%;
    }
  }
  &.home{
    @include bg_img("/assets/top_bg/home.webp");
    @include ios("/assets/top_bg/home@2x.webp", "2");
    @include img_opt();
  }
  &.about-us{
    @include bg_img("/assets/top_bg/about-us.webp");
    @include ios("/assets/top_bg/about-us@2x.webp", "2");
    @include img_opt();
  }
  &.team{
    @include bg_img("/assets/top_bg/team.webp");
    @include ios("/assets/top_bg/team@2x.webp", "2");
    @include img_opt();
  }
  &.contact-us{
    @include bg_img("/assets/top_bg/contact-us.webp");
    @include ios("/assets/top_bg/contact-us@2x.webp", "2");
    @include img_opt();
  }
}

.list_info{
  li{
    position: relative;
    padding-left: 40px;
    font-size: 20px;
    &::before{
      content: "";
      position: absolute;
      left:0;
      top:3px;
      @include box_ico('/assets/svg/ok.svg', 24px, 24px);
    }
  }
}


.contact_sec{
  margin-top: $indent_pc;
  padding-top: $indent_mob;
  box-sizing: border-box;
  height:578px;
  @include bg_img("/assets/contact-us/ContactsBg.webp");
  @include ios("/assets/contact-us/ContactsBg@2x.webp", "2");
  @include img_opt();

  @include respond_to(tab) {
    margin-top: $indent_tab;
    padding: $indent_tab 0;
    height: auto;
  }
  html body &_h,html body &_txt{
    color:#f4f4f4;
    opacity: 0.8;
  }


}


.blue_rec{
  padding: 32px;
  border-radius: 40px;
  border: solid 4px #1156f9;
  &_img{
    @include img_opt();
  }
  .size_img1{
    height: 240px;
  }
  .size_img2{
    height: 195px;
  }
  .size_img3{
    height: 225px;
  }
  .size_img4{
    height: 300px;
  }

  &_team{
    @include bg_img("/assets/bl_rec/team.webp");
    @include ios("/assets/bl_rec/team@2x.webp", "2");
    background-position: left;
    background-size: auto;
    border-radius: 20px 20px 3px 3px;
  }
  &_about1{
    @include bg_img("/assets/bl_rec/about1.webp");
    @include ios("/assets/bl_rec/about1@2x.webp", "2");
    border-radius: 2px;
  }
  &_about2{
    @include bg_img("/assets/bl_rec/about2.webp");
    @include ios("/assets/bl_rec/about2@2x.webp", "2");
    border-radius: 2px;
  }
  &_about3{
    @include bg_img("/assets/bl_rec/about3.webp");
    @include ios("/assets/bl_rec/about3@2x.webp", "2");
    border-radius: 2px;
  }
  &_link{
    font-family: 'Poppins','Arial';
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    color: #1156f9;
    display: inline-block;
  }
  .custom_size{
    @include respond_to(mob) {
      margin: 0 auto;
      width: 302px;
    }
  }
  &_h{
    @include respond_to(mob) {
      margin-top: $indent_mob_small;
    }
  }
}





[dir="rtl"] {

}
