<section class="top_section3 top_bg3" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block">

      <div class="sec_block_indent m_width920">
        <h1 class="sec_block_indent_h color_black">Funds Registration with the Securities & Commodities Authority (SCA)</h1>
      </div>
      <div class="sec_block_sep m_width720"></div>
      <p class="sec_block_txt m_width690 color_black">
        Emirates Wealth will register your Fund with the SCA and handle your registration process from the beginning to the end. We will help your fund to achieve the required regulatory licensing which is needed for your fund to be offered in the UAE and to increase your market distribution chances in the GCC and MENA region.
      </p>
    </div>
  </div>
</section>

<!-- -->

<section class="reg_section1" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info">
            <h2 class="sec_block_h">UAE Fund Regulations</h2>
            <p class="sec_block_h_desc ">Headquartered in Dubai and with our offices Berlin, Copenhagen, Macau, Sofia and Sydney we offer a multijurisdictional representation and distribution service to you.</p>
          </div>
        </div>
        <div class="sec_block_red" fxFlex="100">
          <ul class="sec_block_list list_white no_margin no_padding" >
            <li>Registered with the SCA</li>
            <li>Distributed by a local promoter such as Emirates Wealth</li>
          </ul>
          <div class="sec_block_red_rect red_right"></div>
        </div>
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">

          <div class="sec_block_box_info">
            <h2 class="sec_block_h">Annual Legal Representation</h2>
            <p class="sec_block_h_desc color_black">As your legal representative we will lease on your behalf with the SCA, constantly update your files such as the offering documents, prospectus, investment policies as well as manage your annual renewals.</p>
          </div>
          <div class="sec_block_box_info">
            <p class="sec_block_h_desc color_black">The UAE Regulations require that the legal representative of the Foreign Fund Company provides all mechanisms to enable the promoted fund to meet its obligations and duties to its investors. Specific additional requirements are placed upon the legal representatives, including the exercise of due diligence in selecting the promoted fund and post promotion follow-up to safeguard the assets of investors.</p>
            <h5 class="sec_block_h low_header">Emirates Wealth will act as the legal representative for your fund in dealings with the SCA. </h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="reg_section2" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info">
            <h2 class="sec_block_h">The Registration Process</h2>
            <p class="sec_block_h_desc color_white">To register a foreign fund with the SCA, an application must be submitted to the SCA together with the supporting documentation including the fund’s prospectus, KIID and fact sheet. This process will be entirely covered by the Emirates Wealth, no matter if your fund is already active or just in the incorporation stage.</p>
          </div>
          <div class="sec_block_box_info">
            <p class="sec_block_h_desc color_white">We review all and any additional legal documents to evaluate and increase the chances for an approval. Throughout the whole process Emirates Wealth will be in constant communication with the regulator on your behalf.</p>
          </div>
          <div class="sec_block_box_info">
            <p class="sec_block_h_desc color_white">Once approved, such registration remains valid until the 31st of December of that year, whereupon it must be renewed with at least one month’s notice and will then remain valid again for another 12 months.</p>
          </div>
        </div>
        <div class="sec_block_red" fxFlex="100">
          <h3 class="sec_block_red_txt">Emirates Wealth will handle all required documents by the SCA. </h3>
          <div class="sec_block_red_rect red_right"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="reg_section3" [style.height.px]="navService.clientHeight">
  <div class="contentCenter">
    <div class="sec_block " fxLayout="row wrap" fxLayoutAlign="start center">
      <div class=" " fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="100">
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">
          <div class="sec_block_box_info">
            <h2 class="sec_block_h">Prerequisite for registration in the UAE</h2>
          </div>
        </div>
        <div class="sec_block_red" fxFlex="100">
          <h3 class="sec_block_red_txt">The regulations dictate basic requirement for a fund to be registered and promoted within the UAE on a public or private placement basis. </h3>
          <div class="sec_block_red_rect red_right"></div>
        </div>
        <div class="sec_block_box" fxFlex="100" fxFlex.gt-sm="50">

          <div class="sec_block_box_info">

            <p class="sec_block_h_desc color_black">To obtain the UAE registration, the fund must be established in a foreign country and subject to the oversight of a regulator similar to the SCA and the fund has to be licensed to make public offering in its home country (exempted funds cannot apply for approval by SCA).</p>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>



