@import "src/scss/mixin";


:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.mat-list-item {
  padding: 8px 0;
  //@include respond_to(tab){
  //  width:auto;
  //}
  .routeIcon {
    margin-right: 40px;
  }
}


.arrow {
  width:auto;
  margin-right: -15px;
}
.mat-list-item.active{
  background: none !important; /*temp*/
}


.my-light-theme mat-nav-list app-menu-list-item .mat-list-item.mat-focus-indicator:hover{
  background-color: red !important;
}
